*


# Top level directories
!.local/
!.local/share/


#Globals

## ASDF
!.tool-versions

## Bash
!.bashrc
!.bash_aliases

## Fonts
!.local/share/fonts/
!.local/share/fonts/**

## Git
!.gitconfig
!.globalgitignore
!.gitignore

## Node
!.config/yarn/
!.config/yarn/global
!.config/yarn/global/package.json

## Python
!.requirements
!.requirements-base
