*


# Top level directories
!.config/
!.local/
!.local/share/
!.tmux/


#Globals

## ASDF
!.tool-versions

## Bash
!.bashrc
!.bash_aliases

## Fonts
!.local/share/fonts/
!.local/share/fonts/**

## Git
!.gitconfig
!.globalgitignore
!.gitignore

## Node
!.config/yarn/
!.config/yarn/global
!.config/yarn/global/package.json

## Python
!.requirements
!.requirements-base


#Applications

## BTOP
!.config/btop/
!.config/btop/**

## TMUX
!.tmux.conf
!.tmux/24-bit-color.sh
!.config/tmux-powerline/
!.config/tmux-powerline/**

## WezTerm
!.config/wezterm/
!.config/wezterm/**
!.wezterm.lua
